<article class="detailed__post__container container">
  <div class="header flex">
    <h2>Post #<%= @post_id %> by <%= @user.name %></h2>
    <div class="comments__likes">
      <span><em><b>Comments: <%= @post.comments_counter %></em></b></span>
      <span><em><b>Likes: <%= @post.likes_counter %></em></b></span>
    </div>
  </div>
    <article class="post__content">
      <p><%= @post.text %></p>
    </article>
  <% if @post.comments.size != 0 %>
    <ul class="container">
      <% @post.comments.each do |comment| %>
        <li><%= comment.author.name %>: <%= comment.text %></li>
      <% end %>
  </ul>
  <% end %>
</article>
